In [ ]:
!conda install pandas

In [ ]:
!pip install pandas

In [1]:
import pandas as pd
from datetime import datetime

La siguiente celda leerá el documento ```data/data_covid.csv```, el cual contiene la información de pacientes detectados con COVID en México desde el inicio de la pandemia a abril de 2022.

In [2]:
data = pd.read_csv("data/data_covid.csv")

In [3]:
data

,index,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,...,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS,Nacional
0,2020-02-26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-02-27,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,4
2,2020-02-28,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2
3,2020-02-29,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
4,2020-03-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790,2022-04-26,25,23,24,1,1,8,163,4,9,...,16,6,12,4,5,4,79,38,3,583
791,2022-04-27,21,25,18,3,1,9,200,3,6,...,21,10,7,5,8,2,51,25,5,556
792,2022-04-28,33,17,12,4,3,9,134,2,2,...,13,11,4,10,8,0,34,24,1,456
793,2022-04-29,19,15,6,1,1,2,63,2,2,...,7,1,2,3,3,0,39,27,3,255
794,2022-04-30,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795 entries, 0 to 794
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                795 non-null    object
 1   AGUASCALIENTES       795 non-null    int64
 2   BAJA CALIFORNIA      795 non-null    int64
 3   BAJA CALIFORNIA SUR  795 non-null    int64
 4   CAMPECHE             795 non-null    int64
 5   CHIAPAS              795 non-null    int64
 6   CHIHUAHUA            795 non-null    int64
 7   DISTRITO FEDERAL     795 non-null    int64
 8   COAHUILA             795 non-null    int64
 9   COLIMA               795 non-null    int64
 10  DURANGO              795 non-null    int64
 11  GUANAJUATO           795 non-null    int64
 12  GUERRERO             795 non-null    int64
 13  HIDALGO              795 non-null    int64
 14  JALISCO              795 non-null    int64
 15  MEXICO               795 non-null    int64
 16  MICHOACAN            795 non-null    int64
 17  MORELOS              795 non-null    int64
 18  NAYARIT              795 non-null    int64
 19  NUEVO LEON           795 non-null    int64
 20  OAXACA               795 non-null    int64
 21  PUEBLA               795 non-null    int64
 22  QUERETARO            795 non-null    int64
 23  QUINTANA ROO         795 non-null    int64
 24  SAN LUIS POTOSI      795 non-null    int64
 25  SINALOA              795 non-null    int64
 26  SONORA               795 non-null    int64
 27  TABASCO              795 non-null    int64
 28  TAMAULIPAS           795 non-null    int64
 29  TLAXCALA             795 non-null    int64
 30  VERACRUZ             795 non-null    int64
 31  YUCATAN              795 non-null    int64
 32  ZACATECAS            795 non-null    int64
 33  Nacional             795 non-null    int64
dtypes: int64(33), object(1)
memory usage: 211.3+ KB

* La siguiente celda convertirá el texto de la columna ```index``` en formato de fecha.

In [5]:
data["index"] =  data["index"].apply(pd.to_datetime)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795 entries, 0 to 794
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                795 non-null    datetime64[ns]
 1   AGUASCALIENTES       795 non-null    int64
 2   BAJA CALIFORNIA      795 non-null    int64
 3   BAJA CALIFORNIA SUR  795 non-null    int64
 4   CAMPECHE             795 non-null    int64
 5   CHIAPAS              795 non-null    int64
 6   CHIHUAHUA            795 non-null    int64
 7   DISTRITO FEDERAL     795 non-null    int64
 8   COAHUILA             795 non-null    int64
 9   COLIMA               795 non-null    int64
 10  DURANGO              795 non-null    int64
 11  GUANAJUATO           795 non-null    int64
 12  GUERRERO             795 non-null    int64
 13  HIDALGO              795 non-null    int64
 14  JALISCO              795 non-null    int64
 15  MEXICO               795 non-null    int64
 16  MICHOACAN            795 non-null    int64
 17  MORELOS              795 non-null    int64
 18  NAYARIT              795 non-null    int64
 19  NUEVO LEON           795 non-null    int64
 20  OAXACA               795 non-null    int64
 21  PUEBLA               795 non-null    int64
 22  QUERETARO            795 non-null    int64
 23  QUINTANA ROO         795 non-null    int64
 24  SAN LUIS POTOSI      795 non-null    int64
 25  SINALOA              795 non-null    int64
 26  SONORA               795 non-null    int64
 27  TABASCO              795 non-null    int64
 28  TAMAULIPAS           795 non-null    int64
 29  TLAXCALA             795 non-null    int64
 30  VERACRUZ             795 non-null    int64
 31  YUCATAN              795 non-null    int64
 32  ZACATECAS            795 non-null    int64
 33  Nacional             795 non-null    int64
dtypes: datetime64[ns](1), int64(33)
memory usage: 211.3 KB

* La siguiente celda emiminará la columna ```Nacional``` del dataframde ```data```.

In [7]:
data = data.drop("Nacional", axis=1)

* Las siguientes celdas delimitará las fechas del datafarame ```data``` únicamente a las medicones del año 2021.

In [8]:
data = data.loc[data["index"] >= datetime(2021, 1, 1)]

In [9]:
data

,index,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,...,QUINTANA ROO,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS
310,2021-01-01,27,118,35,6,10,52,715,76,19,...,24,81,32,126,37,90,42,58,36,17
311,2021-01-02,54,126,119,5,19,56,1896,182,16,...,49,158,85,248,233,137,96,128,71,57
312,2021-01-03,41,132,50,5,17,53,1144,176,50,...,50,128,55,193,63,105,66,118,45,31
313,2021-01-04,131,372,211,40,35,123,6833,432,38,...,100,327,157,518,390,346,173,330,137,187
314,2021-01-05,142,393,280,29,41,113,6754,400,41,...,144,390,156,514,395,313,201,334,183,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790,2022-04-26,25,23,24,1,1,8,163,4,9,...,7,16,6,12,4,5,4,79,38,3
791,2022-04-27,21,25,18,3,1,9,200,3,6,...,10,21,10,7,5,8,2,51,25,5
792,2022-04-28,33,17,12,4,3,9,134,2,2,...,11,13,11,4,10,8,0,34,24,1
793,2022-04-29,19,15,6,1,1,2,63,2,2,...,4,7,1,2,3,3,0,39,27,3
794,2022-04-30,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
data = data.loc[data["index"] <= datetime(2021, 12, 31)]

In [11]:
data

,index,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,...,QUINTANA ROO,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS
310,2021-01-01,27,118,35,6,10,52,715,76,19,...,24,81,32,126,37,90,42,58,36,17
311,2021-01-02,54,126,119,5,19,56,1896,182,16,...,49,158,85,248,233,137,96,128,71,57
312,2021-01-03,41,132,50,5,17,53,1144,176,50,...,50,128,55,193,63,105,66,118,45,31
313,2021-01-04,131,372,211,40,35,123,6833,432,38,...,100,327,157,518,390,346,173,330,137,187
314,2021-01-05,142,393,280,29,41,113,6754,400,41,...,144,390,156,514,395,313,201,334,183,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,2021-12-27,231,495,728,23,10,446,2120,249,25,...,366,254,79,211,94,157,13,65,151,83
671,2021-12-28,164,461,776,22,13,541,2725,291,15,...,505,356,110,230,115,194,22,55,221,126
672,2021-12-29,163,510,1065,26,19,697,3198,379,20,...,557,409,152,277,114,275,20,68,272,122
673,2021-12-30,161,504,1005,26,24,681,3596,414,36,...,668,555,216,288,143,377,25,79,295,170
674,2021-12-31,141,468,871,14,23,587,2847,308,59,...,670,533,257,257,153,351,12,104,297,219

* La siguiente celda asignará el índice del dataframe ```data``` a la columna ```index```.

In [12]:
data = data.set_index("index")

In [13]:
data

,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,DURANGO,...,QUINTANA ROO,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS
index,,,,,,,,,,,,,,,,,,,,,
2021-01-01,27,118,35,6,10,52,715,76,19,9,...,24,81,32,126,37,90,42,58,36,17
2021-01-02,54,126,119,5,19,56,1896,182,16,22,...,49,158,85,248,233,137,96,128,71,57
2021-01-03,41,132,50,5,17,53,1144,176,50,17,...,50,128,55,193,63,105,66,118,45,31
2021-01-04,131,372,211,40,35,123,6833,432,38,164,...,100,327,157,518,390,346,173,330,137,187
2021-01-05,142,393,280,29,41,113,6754,400,41,180,...,144,390,156,514,395,313,201,334,183,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,231,495,728,23,10,446,2120,249,25,84,...,366,254,79,211,94,157,13,65,151,83
2021-12-28,164,461,776,22,13,541,2725,291,15,85,...,505,356,110,230,115,194,22,55,221,126
2021-12-29,163,510,1065,26,19,697,3198,379,20,97,...,557,409,152,277,114,275,20,68,272,122
2021-12-30,161,504,1005,26,24,681,3596,414,36,134,...,668,555,216,288,143,377,25,79,295,170
2021-12-31,141,468,871,14,23,587,2847,308,59,115,...,670,533,257,257,153,351,12,104,297,219

* La siguiente celda guardará el contenido del dataframe ```data``` en ```data/covid-2021.csv```.

In [14]:
data.to_csv("data/covid-2021.csv")

* La siguiente celda guardará el contenido del dataframe ```data``` en ```data/covid-2021.json```.

In [16]:
data.to_json("data/covid-2021.json")

* La siguiente celda traerá los datos de ```data/covid-2021.csv``` al navegador usando *D3.js*.

In [17]:
%%javascript

require.config({
        paths: {
            "d3": "https://d3js.org/d3.v7"
        }
    });

require(["d3"], function(d3){ 
    d3.csv("data/covid-2021.csv").then(function(datos){
        console.log(datos);
    })
})

In [18]:
%%javascript



require(["d3"], function(d3){ 
    d3.json("data/covid-2021.json").then(function(datos){
        console.log(datos);
    })
})